<%= form_for(@statistic) do |f| %>
  <% if @statistic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statistic.errors.count, "error") %> prohibited this statistic from being saved:</h2>

      <ul>
      <% @statistic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rok %><br />
    <%= f.number_field :rok %>
  </div>
  <div class="field">
    <%= f.label :pozary %><br />
    <%= f.number_field :pozary %>
  </div>
  <div class="field">
    <%= f.label :zagrozenia %><br />
    <%= f.number_field :zagrozenia %>
  </div>
  <div class="field">
    <%= f.label :falarmy %><br />
    <%= f.number_field :falarmy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
