<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Rok', 'Miejscowe Zagrożenia', 'Pożary', 'Fałszywe Alarmy'],
<% @statistics.each do |statystyka| %>
          ['<%= statystyka.rok %>',  <%= statystyka.zagrozenia %>,      <%= statystyka.pozary %>,	<%= statystyka.falarmy %>],
<% end %>
        ]);

        var options = {
          title: 'Statystyki szczegółowo',
          hAxis: {title: 'Rok', titleTextStyle: {color: 'black'}},
          backgroundColor: '#749596'
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
<div class="home">
<h4></h4>
<div style="background: none repeat scroll 0% 0% rgb(116, 149, 150);">
    <div id="chart_div" style="width: 100%; height: 500px;"></div>
<% if current_user && current_user.username == "Administrator" && current_user.id == 1 %>
<%= link_to 'Dodaj Statystyke', new_statistic_path %>
<% end %>
</div>
</div>

