			<div class="gallery">
				<div class="gallery_div">
					<h4 style="float:left;">Galeria</h4>
<ul style="float:left;margin-left:20px;height:35px;margin-top:6.5px;">
<a href="/galeria" style="background: none repeat scroll 0% 0% rgb(116, 149, 150); padding: -8px 5px 5px 5px;border-radius: 5px 5px 5px 5px;border:1px solid;color:black;display: inline-block;">Albumy</a>
<a href="/aktualnosci_grupuj" style="background: none repeat scroll 0% 0% rgb(116, 149, 150); padding: -8px 5px 5px 5px;border-radius: 5px 5px 5px 5px;border:1px solid;color:black;display: inline-block;">Wszystkie</a>
</ul>
					<ul>
					<%= will_paginate @zdjecia_page, :container => false %>
					</ul>
				</div>
					<% @albums.each do |album| %>
<% @zdjecie_pierwsze = Image.find_all_by_przydzial(album.nr_newsa.to_s).first %>
<% @fotki = Image.find_all_by_przydzial(album.nr_newsa.to_s).first(6) %>
<% @numer = Image.find_all_by_przydzial(album.nr_newsa.to_s).count %>
<%= link_to 'Usuń', album, method: :delete, data: { confirm: 'Czy napewno chcesz usunąć ten album?' }, "style"=>"float:right;margin-right:20px;display:block;" %>
<% if @zdjecie_pierwsze != nil %>
<div class="album_list" style="background:url(http://m1l05z.pl/osp/<%= @zdjecie_pierwsze.nazwa %>)" onclick="location.href = '/albums/<%= album.id %>'">
<% else %>
<div class="album_list" onclick="location.href = '/albums/<%= album.id %>'" %>
<% end %>
Opublikowano: <%= album.created_at.strftime("%H:%M %d-%m-%Y") %>

<div class="album_inside">
<%= album.tytul[0..45] %> (<%= @numer  %>
<% if @numer.to_s.last(1) == "1" %>
zdjęcie
<% elsif @numer.to_s.last(1) == "2" || @numer.to_s.last(1) == "3" || @numer.to_s.last(1) == "4" %>
zdjęcia
<% else %>
zdjęć
<% end %>)
<% @fotki.each do |fotka| %>
<img src="http://m1l05z.pl/osp/<%= fotka.nazwa %>" class="img-rounded"/>
<% end %>
</div>
</div>
					<% end %>
<% if current_user && current_user.username == "Administrator" %>
<%= form_for Album.new do |f| %>
  <%= f.label :Tytuł_albumu %>
  <%= f.text_field :tytul, :width => "160px" %>
  <%= f.submit "Dodaj","style" => "height:35px;width:100px;font-weight:bold;cursor:pointer;margin-top:-10px;" %>
<% end %>
<% end %>
			</div>
