			<div class="gallery">
				<div>
					<h4>Gallery</h4>
					<ul>
						<li>
							<a href="#">&#60;&#60;</a>
						</li>
						<li>
							<a href="#" class="first">First</a>
						</li>
						<li>
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">5</a>
						</li>
						<li>
							<a href="#">6</a>
						</li>
						<li>
							<a href="#">7</a>
						</li>
						<li>
							<a href="#">8</a>
						</li>
						<li>
							<a href="#">9</a>
						</li>
						<li>
							<a href="#">10</a>
						</li>
						<li>
							<a href="#">11</a>
						</li>
						<li>
							<a href="#">12</a>
						</li>
						<li>
							<a href="#">13</a>
						</li>
						<li>
							<a href="#">14</a>
						</li>
						<li>
							<a href="#" class="last">Last</a>
						</li>
						<li>
							<a href="#">&#62;&#62;</a>
						</li>
					</ul>
				</div>
				<%= image_tag("fire-truck.jpg") %>
				<ul class="section">
					<li>
						<a href="#"><%= image_tag("fireman1.jpg") %></a>
					</li>
					<li>
						<a href="#"><%= image_tag("fireman2.jpg") %></a>
					</li>
					<li>
						<a href="#"><%= image_tag("fireman3.jpg") %></a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="#"><%= image_tag("fireman6.jpg") %></a>
					</li>
					<li class="second">
						<a href="#"><%= image_tag("fireman7.jpg") %></a>
					</li>
					<li>
						<a href="#"><%= image_tag("fireman8.jpg") %></a>
					</li>
				</ul>
				<h2>Lorem Ipsum Dolor Sit Amet - Twice</h2>
				<p>
					Donec elementum metus quis libero fermentum quis tincidunt sem volutpat. Aliquam in magna sed ligula fermentum ultricies ac eu tellus. Nam non elementum enim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sodales, neque sed pellentesque dignissim, justo lectus vehicula purus, a accumsan neque sapien vel lorem. Phasellus convallis pellentesque malesuada. Suspendisse ut est nisi. Cras non nisl commodo erat tempus sodales sit amet vitae nisl.
				</p>
				<p>
					Etiam placerat sodales lorem eu aliquam. Curabitur sed sem felis. Aliquam at dui nec justo dignissim sollicitudin auctor at turpis. Quisque in urna ut velit lacinia lacinia. Donec at justo non nisi sodales dapibus. Sed rhoncus malesuada augue quis semper. Maecenas ut arcu orci, et dapibus magna. Sed nulla erat, malesuada non dapibus vitae, euismod vitae orci. Mauris id enim et est molestie auctor sed eu augue. Nam vitae mi ipsum. Fusce vitae ligula risus, eu varius tortor. Sed congue fermentum velit vel rhoncus. Praesent quam lacus, volutpat et pulvinar commodo, consequat eu nisi.
				</p>
			</div>
