			<div class="gallery">
				<div class="gallery_div">
					<h4>Galeria</h4>
					<ul>
					<%= will_paginate @zdjecia_page, :container => false %>
					</ul>
				</div>
<% licznik = 0 %>
<% if @zdjecia.count != 0 %>
<div id="myCarousel" class="carousel slide">  
  <!-- Carousel items -->  
  <div class="carousel-inner">  
<% @zdjecia.each do |zdjecia| %>
<% if licznik == 0 %>
    <div class="active item">
	<center>
	<img src="http://m1l05z.pl/osp/<%= zdjecia.nazwa %>" style="height:370px;">
	</center>
		<% if (zdjecia.opis != "") && (zdjecia.opis != nil) %>
		<div class="carousel-caption">
                      <p><%= zdjecia.opis %></p>
                </div>
		<% end %>
    </div> 
<% else %>
    <div class="item">
	<center>
	<img src="http://m1l05z.pl/osp/<%= zdjecia.nazwa %>" style="height:370px;">
	</center>
		<% if (zdjecia.opis != "") && (zdjecia.opis != nil) %>
		<div class="carousel-caption">
                      <p><%= zdjecia.opis %></p>
                </div>
		<% end %>
    </div> 
<% end %> 
<% licznik += 1 %> 
<% end %>
  </div>  
  <!-- Carousel nav -->  
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>  
  <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>  
</div>  
<% end %>
				<ul class="section">
					<% @zdjecia_page.each do |zdjecia| %>
<a class="fancybox-effects-b" href="http://m1l05z.pl/osp/<%= zdjecia.nazwa %>" title="<%= zdjecia.opis %>" target="_blank">
        <img style="width:185px;height:190px;" src="http://m1l05z.pl/osp/<%= zdjecia.nazwa %>" class="img-polaroid"" />
</a>
					<% end %>
				</ul>
			</div>
