<h1>Lista Filmików</h1>

<table  class="table table-hover">
<thead>
  <tr>
    <th>Nazwa na serwerze</th>
    <th>Opis do Filmiku</th>
    <th>Nr newsa</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<% @videos.each do |video| %>
  <tr>
    <td><%= video.nazwa %></td>
    <td><%= video.opis %></td>
    <td><%= video.przydzial %></td>
    <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video', new_video_path %>
