<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tytul_aktualności %>
    <%= f.text_field :tytul, :id => "news_form_tytul" %>
  </div>
  <div class="field">
    <%= f.label :tresc_aktualności %>
    <%= f.text_area :tresc , "style" => "width:99%;"%>
  </div>
  <div class="kategoria_box">
    <%= f.label :Rodzaj_aktualności %>
    <%= f.select(:rodzaj, options_for_select([['Wydarzenie', 'Wydarzenie'], ['Interwencja', 'Interwencja'], ['Ćwiczenia', 'Ćwiczenia'], ['Imprezy', 'Imprezy']],@news.rodzaj), {}, {:class => "kategoria"}) %>
  </div>
  <div class="actions">
    <%= f.submit :value => 'Dodaj', "style" => "height:35px;width:100px;font-weight:bold;cursor:pointer;" %>
   <input name="commit" style="height:15.4px;width:100px;font-weight:bold;cursor:pointer;" value=" Wróć do listy" onclick="location.href = '/aktualnosci'">
  </div>
<br>
<% end %>
