<div class="news">
<div>
<h4>Aktualności</h4>
<ul style="float:left;margin-left:20px;height:35px;margin-top:6.5px;">
<a href="/aktualnosci" style="background: none repeat scroll 0% 0% rgb(116, 149, 150); padding: -8px 5px 5px 5px;border-radius: 5px 5px 5px 5px;border:1px solid;color:black;display: inline-block;">Wszystkie</a>
<a href="/aktualnosci_grupuj" style="background: none repeat scroll 0% 0% rgb(116, 149, 150); padding: -8px 5px 5px 5px;border-radius: 5px 5px 5px 5px;border:1px solid;color:black;display: inline-block;">Grupuj</a>
</ul>
<ul>
</ul>
</div>
<ul>
<% @news.each do |news| %>
<li>
<a><%= image_tag("icon-logo2.jpg") %>
<br />
<center>
<% if news == "Wydarzenie" %>
 <span class="label label-info">
<% elsif news == "Interwencja" %>
 <span class="label label-important">
<% elsif news == "Ćwiczenia" %>
 <span class="label label-success">
<% end %>
<%= news %>
</span>
</center>
</a>
<div>
<h3 id="news_index_tytul"><%= news.capitalize %></h3>
  <span style="margin-top:-5px">W grupie jest <%= News.find_all_by_rodzaj(news).count %> aktualności</span>
<p>
<% if news == "Wydarzenie" %>
Tu znajdują się wszystkie wydarzenia w jakich brała udział nasza jednostka
<% elsif news == "Interwencja" %>
Tu znajdują się wszystkie interwencje w jakich brała udział nasza jednostka
<% elsif news == "Ćwiczenia" %>
Tu znajdują się wszystkie ćwiczenia w jakich brała udział nasza jednostka
<% end %>
</p>
<%= link_to 'Czytaj więcej »', news %>
<% if (current_user) && (current_user.username == "Administrator") %>
<%= link_to 'Edytuj', edit_news_path(news) %>
<%= link_to 'Usuń', news, confirm: 'Czy napewno chcesz usunąć aktualność?', method: :delete %>
<% end %>
</div>
</li>
<% end %>
</ul>

<br />
</div>
