<div class="news">
<div>
<h4>Aktualnośći</h4>
<ul>
</ul>
</div>
<ul>
<% @news.each do |news| %>
<li>
<a href=""><%= image_tag("icon-logo2.jpg") %>
<br />
<center>
<% if news.rodzaj == "Wydarzenie" %>
 <span class="label label-info">
<% elsif news.rodzaj == "Interwencja" %>
 <span class="label label-important">
<% end %>
<%= news.rodzaj %>
</span>
</center>
</a>
<div>
<h3 id="news_index_tytul"><%= news.tytul.capitalize %></h3>
<span style="margin-top:-5px">Opublikowano <%= news.created_at.strftime("%d-%m-%Y %H:%M") %></span>
<p>
<%= news.tresc[0..300]+"..." %>
</p>
<%= link_to 'Czytaj więcej »', news %>
<%= link_to 'Edit', edit_news_path(news) %>
<%= link_to 'Destroy', news, confirm: 'Are you sure?', method: :delete %>
</div>
</li>
<% end %>
</ul>

<br />
</div>
