<div class="news">
  <div>
    <h4>Aktualności</h4>
    <ul style="float:left;margin-left:20px;height:35px;margin-top:6.5px;">
      <%= link_to "Wszystkie", "/aktualnosci", :class => "zakladki_male" %>
      <%= link_to "Grupuj", "/aktualnosci_grupuj", :class => "zakladki_male" %>
    </ul>
    <ul>
      <%= will_paginate @articles, :container => false %>
    </ul>
  </div>
  <%= form_tag request.path, :method => 'get', :class=>"form-search" do %>
    <div class="input-append" style="overflow: hidden;background:transparent">
      <%= text_field_tag :search, params[:search], :class=>"search-query", :placeholder=>"Szukaj.." %>
      <button type="submit" class="btn"><span style="font-size:32px;"><i class="icon-search"></i></span></button>
    </div>
  <% end %>
  <ul>
    <% @news.each do |news| %>
      <% @images = Image.find_all_by_przydzial(news.id.to_s) %>
      <% @logo = Image.find_all_by_przydzial(news.id.to_s).first %>
      <li>
        <% if @images.count == 0 %>
          <a><%= image_tag("icon-logo2.jpg") %>
        <% else %>
          <a><%= image_tag("http://serwer.osp-lesniewo.pl/#{@logo.nazwa}", :height=>"96px", :width=>"97px") %>
        <% end %>
        <br />
        <center>
        <% if news.rodzaj == "Imprezy" %>
          <span class="label label-info">
        <% elsif news.rodzaj == "Interwencje" %>
          <span class="label label-important">
        <% elsif news.rodzaj == "Szkolenia" %>
          <span class="label label-success">
        <% elsif news.rodzaj == "Inne" %>
          <span class="label label-inverse">
        <% end %>
        <%= news.rodzaj %>
        </span>
        </center>
          </a>
        <div>
          <h3 id="news_index_tytul"><%= news.tytul.gsub(/^([a-z])/) { $1.capitalize } %></h3>
          <% if (((Time.now - news.created_at).to_i / 60) / 60) > 24  %>
            <span style="margin-top:-5px"><i class="icon-calendar"></i> Opublikowano <%= news.created_at.strftime("%d-%m-%Y %H:%M") %></span>
          <% else %>
            <span style="margin-top:-5px"><i class="icon-calendar"></i> Opublikowano <%= time_ago_in_words(news.created_at) + ' temu' %></span>
          <% end %>
          <span >
            <%= link_to news_url(news, :anchor => "disqus_thread"), :"data-disqus-identifer" => news.id, "style" => "width:100%;color:white;" do %>
              <i class="icon-comment"></i> ##
            <% end %>
          </span>
          <p>
            <%= (strip_tags(news.tresc))[0..300]+"..." %>
          </p>
          <%= link_to 'Czytaj więcej »', news, :class => "btn btn-small", "style" => "float:right;color:black" %>
          <% if current_user && ((current_user.username == "Administrator" && current_user.id == 1)||(current_user.username == "strazak"&& current_user.id == 2)) %>
            <%= link_to 'Edytuj', edit_news_path(news), :class => "btn btn-small btn-primary" %>
            <%= link_to 'Usuń', news, confirm: 'Czy napewno chcesz usunąć aktualność?', method: :delete, :class => "btn btn-small btn-danger" %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<br />
</div>

<script type="text/javascript">
  var disqus_shortname = '<%= ENV['disqus_shortname'] %>';

  if (disqus_shortname.length > 0) {
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  }
</script>
