<div class="home">
<h4 id="news_show"><%= @news.tytul %></h4>
<div style="background: none repeat scroll 0% 0% rgb(116, 149, 150);color:black;padding: 5px 19px 0px 18px;">
<p>
  <%= simple_format(@news.tresc) %>
</p>
<div class="galeria">
    <ul class="section">
	<% @zdjecia.each do |zdjecia| %>
	<a class="fancybox-effects-b" href="http://m1l05z.pl/osp/<%= zdjecia.nazwa %>" title="<%= zdjecia.opis %>">
        <img style="width:125px;height:130px;" src="http://m1l05z.pl/osp/<%= zdjecia.nazwa %>" class="img-polaroid"" />
	</a>
	<% end %>
    </ul>
</div>
<% if @zdjecia.count != 0 %>
<a href="/albums/<%= @album.id %>" style="float:right;margin-top:16px;color: rgb(0, 85, 128);">przejdź do galeri »</a>
<% end %>
<% if current_user && current_user.username == "Administrator" %>
<div style="margin-top:40px;">
<%= form_tag '/ftp/upload', :method => :post, :multipart => true do %>
<%= text_field_tag :przydzial, @news.id, "style"=>"display:none"%>
<center><b><%= label_tag(:q, "Dodaj zdjęcie do aktualności:") %></b>
<%= file_field_tag "file", "style"=>"height:40px;" %>
<%= submit_tag "Dodaj Zdjęcie", "style"=>"width:100px;margin-left:100px;height:40px;cursor:pointer;"%><br>
<div class="field">
    <%= text_area_tag :opis,nil, :class => "images_form_opis", :placeholder => "Krótki opis do zdjęcia..." %>
 </div>
</center>
<% end %>
</div>
<% end %>
<br><br>
</div>
<form>
<% if current_user && current_user.username == "Administrator" %>
<input name="commit" style="height:15.4px;width:55px;font-weight:bold;cursor:pointer;" value=" Edytuj" onclick="location.href = '<%= edit_news_path(@news) %>'">
<% end %>
<input name="commit" style="height:15.4px;width:100px;font-weight:bold;cursor:pointer;" value=" Wróć do listy" onclick="location.href = '/aktualnosci'">
</form>
</div>
