<%= form_for(@user_session) do |f| %>
<div style="background: none repeat scroll 0% 0% rgb(116, 149, 150);color:black;padding: 5px 19px 0px 18px;">
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h5 style="color: rgb(185, 74, 72);text-shadow: 1px 1px 1px rgb(0, 0, 0);">Logowanie nie powiodło się, popraw błędy i spróbuj ponownie.</h5>
      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li style="margin-top:-35px;"><div class="alert-error"><%= msg %></div></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<center>
  <div class="field" style="display:inline-block">
    <%= f.label :Nazwa_użytkownika %>
    <%= f.text_field :username %>
  </div>
  <div class="field" style="display:inline-block">
    <%= f.label :hasło %>
    <%= f.password_field :password %>
  </div>
</center>
<br />
</div>
  <div class="actions">
     <%= f.submit :value => 'Zaloguj', "style" => "height:35px;width:70px;font-weight:bold;cursor:pointer;" %>
     <input name="commit" style="height:15.4px;width:60px;font-weight:bold;cursor:pointer;" value=" Powrót" onclick="location.href = '/'">
  </div>
<% end %>
