<!DOCTYPE html>
<html>
<head>
	<title>OSP Leśniewo</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Exo:800italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href="http://osp.herokuapp.com/logo.png" rel="icon" type="image/x-icon">
	<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.fancybox.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.fancybox.css" media="screen" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<script type="text/javascript">
 $(document).ready(function() {
	$('.fancybox').fancybox();

	$(".fancybox-effects-b").fancybox({
		openEffect  : 'none',
		closeEffect	: 'none',

		helpers : {
			title : {
			type : 'over'
				}
			}
	});
});
</script>
</head>
<body>
<% if notice %>
				<div class="notice">
				<% if notice.match(/Uwaga!/) %>
				<div class="alert alert-error">
				<% elsif notice.match(/Gratulacje!/) %>
				<div class="alert alert-success">
				<% elsif notice.match(/Informacja!/) %>
				<div class="alert alert-info">
				<% end %>
				    <button type="button" class="close" data-dismiss="alert">&times;</button>
				    <strong><%= notice.html_safe %></strong>
				</div>
				</div>
				<% end %>
	<% if current_page?(:controller => 'users_', :action => 'start') %>
	<div class="page page-home">
	<% elsif current_page?(:controller => 'users_', :action => 'about') %>
	<div class="page page-about">
	<% else %>
	<div class="page page-contact">
	<% end %>
		<div class="header">
			<div>
				<%= image_tag("herb.png", :class => "logo_herb") %>
				<div style="margin-bottom:-37px;margin-top:-13px;">
				<font style="color:white;font-family: 'Exo', sans-serif;font-size:40px;line-height:50px;">OCHOTNICZA STRAŻ POŻARNA <br>
				<font style="color:red">w LEŚNIEWIE</font></font><span>Bogu na chwałę, ludziom na pożytek</span>
				</div>
				<ul>
					<% if current_page?(:controller => 'users_', :action => 'start') %>
					<li class="selected" onclick="location.href = '/'">
					<% else %>
					<li onclick="location.href = '/'">
					<% end %>
						<a href="/">Start</a>
					</li>
					<% if current_page?("/aktualnosci")||current_page?("/aktualnosci_grupuj")||current_page?("/imprezy")||current_page?("/interwencje")||current_page?("/inne")||current_page?("/szkolenia") %>
					<li class="selected" onclick="location.href = '/aktualnosci'">
					<% else %>
					<li onclick="location.href = '/aktualnosci'">
					<% end %>
						<a href="/aktualnosci">Aktualności</a>
					</li>
					<% if current_page?("/galeria")||current_page?("/galeria_wszystkie") %>
					<li class="selected" onclick="location.href = '/galeria'">
					<% else %>
					<li onclick="location.href = '/galeria'">
					<% end %>
						<a href="/galeria">Galeria</a>
					</li>
					<% if current_page?(:controller => 'users_', :action => 'czlonkowie') %>
					<li class="selected" onclick="location.href = '/czlonkowie'">
					<% else %>
					<li onclick="location.href = '/czlonkowie'">
					<% end %>
						<a href="/czlonkowie">Członkowie</a>
					</li>
					<% if current_page?(:controller => 'news', :action => 'otwp') %>
					<li class="selected" onclick="location.href = '/otwp'">
					<% else %>
					<li onclick="location.href = '/otwp'">
					<% end %>
						<a href="/otwp">OTWP</a>
					</li>
					<li>
						<a href="contact.html">Wynajem Sali</a>
					</li>
					<% if current_page?(:controller => 'users_', :action => 'about') %>
					<li class="selected" onclick="location.href = '/about'">
					<% else %>
					<li onclick="location.href = '/about'">
					<% end %>
						<a href="/about">O nas</a>
					</li>
				</ul>
<% if (current_page?("/"))||(current_page?("/about"))||(current_page?("/czlonkowie")) %>
				<div class="featured">
					<h3>TEL. ALARMOWY 998 lub 112</h3>
					
				</div>
				<% end %>
			</div>
		</div>
		<div class="body">
			<%= yield %>
			<div class="sidebar">
				<div style="margin-top:-20px;float:right;color:white;"><%= I18n.l Time.now, :format => "%A, %B %d, %Y" %></div>
				<h4>Licznik Zdarzeń</h4>
				<ul>
					<div style="border:1px solid rgb(220, 247, 221);border-radius: 5px 5px 5px 5px;padding: 10px 10px 10px 15px;box-shadow: 0px 0px 15px rgb(65, 131, 196);">
					<li>
						<div style="width:100%">
							<h3>Wszystkich Zdarzeń:  <font id="statystyki"><%= @statystyki.pozary+@statystyki.zagrozenia+@statystyki.falarmy %></font></h3>
						</div>
					</li>
					<li>
						<div style="width:100%">
							<h3>Pożary:  <font id="statystyki1"><%= @statystyki.pozary %>
							<% if current_user && current_user.username == "Administrator" %>
							<a href="/pozar_plus" id="plus">[+]</a><a href="/pozar_minus" id="plus">[-]</a>
							<% end %>
							</font></h3> 
							<h3>Miejscowych Zagrożeń: <font id="statystyki1"><%= @statystyki.zagrozenia %>
							<% if current_user && current_user.username == "Administrator" %>
							<a href="/zagrozenia_plus" id="plus">[+]</a><a href="/zagrozenia_minus" id="plus">[-]</a>
							<% end %>
							</font></h3> 
							<h3>Alarmy Fałszywe:  <font id="statystyki1"><%= @statystyki.falarmy %>
							<% if current_user && current_user.username == "Administrator" %>
							<a href="/alarmy_plus" id="plus">[+]</a><a href="/alarmy_minus" id="plus">[-]</a>
							<% end %>
							</font></h3>
							<a href="/statystyki">zobacz wykres »</a>
						</div>
					</li>
					</div>
				</ul>
				<h4>Przekaż 1%</h4>
				<a href="/assets/1_proc_Plakat.jpg" target="_blank"><%= image_tag("1_proc_Plakat.jpg", "style"=>"width:80%;margin-left:30px;") %></a>
			</div>
			<div class="section">
				<div>
					<h4>Galeria</h4>
					<ul>
					<% @zdjecia_stopka.each do |zdjecia| %>
						<li>
						<a href="/galeria"><img src="http://m1l05z.pl/osp/<%= zdjecia.nazwa %>" style="height:115px;width:175px;"></a>
						</li>
					<% end %>
					</ul>
				</div>
				<div class="connect">
					<h4>Linki</h4>
					<a href="http://www.kppsp.puck.pl/" target="_blank"><%= image_tag("psp.png") %></a>
					<a href="http://www.zosprp.pl/" target="_blank"><%= image_tag("zosp.png") %></a>
				</div>
			</div>
		</div>
		<div class="footer">
			<div>
				<ul>
					<li>
						<a href="/">Start</a>
					</li>
					<li>
						<a href="/about">O nas</a>
					</li>
					<li>
						 <% if current_user %>
						<%= current_user.username %>
						<%= link_to "Wyloguj", :logout%>
						<% else %>
						<%= link_to "Logowanie", :login %>
						<% end %>
					</li>
					<li>
						<a href="contact.html">Kontakt</a>
					</li>
					<% if current_user && current_user.username == "Administrator" && current_user.id == 1%>
					<%= link_to 'Dodaj News', new_news_path %> | 
					<%= link_to 'Lista Zdjęć', images_path %>
					<% else %>
					<div class="g-plusone" data-href="http://osp-lesniewo.pl/"></div>
					<% end %>
				</ul>
				<p>
					Copyright &#169; <%= Time.now.year %>. OSP Leśniewo all rights reserved.
				</p>
			</div>
		</div>
		<div style="margin-top:-50px">
		<center>Projekt <a href="http://m1l05z.pl">Miłosz Osiński</a> i <a href="http://khallmann.pl">Krystian Hallmann</a></center>
		</div>
</div>
</body>
<script type="text/javascript">
  window.___gcfg = {lang: 'pl'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</html>
